* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #000000;
  --text-color: #e1e1e6;
  --primary-color: #065e7c;
  --dark-color: #06181c;

  font-size: 62.5%;
}

body,
input,
select,
textarea,
button,
::placeholder {
  font-family: "Roboto", sans-serif;
}

body {
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
  padding: 11.5rem 0;
}

.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.container {
  max-width: 1150px;
  padding: 0 1.5rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8.7rem;
}

form {
  display: flex;
  gap: 0.8rem;
  flex: 1;
  justify-content: flex-end;
}

form input {
  display: block;
  width: 100%;
  max-width: 46.2rem;
  height: 4.8rem;
  background: var(--dark-color);
  border-radius: 0.5rem;
  border: none;
  font-size: 1.6rem;
  padding: 0 1.6rem;
  color: var(--text-color);
}

::placeholder {
  color: #7c7c8a;
}

form button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  padding: 1.3rem 3.2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background: var(--primary-color);
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: bold;
  transition: all ease 0.2s;
  height: 4.8rem;
}

form button:hover {
  background: var(--text-color);
  color: var(--primary-color);
}

.table {
  border: 1px solid #4a808c;
  background: #030b0d;
  border-radius: 1.2rem;
  overflow: hidden;
}

.thead {
  background: #092d38;
  font-weight: bold;
}

.thead .td {
  padding: 1.6rem 4rem;
}

.tbody .td {
  padding: 2.4rem 4rem;
  display: flex;
  align-items: center;
}

.tbody .tr .td:first-child {
  flex: 2;
}

.tbody .tr:nth-child(even) {
  background: #06181c;
  border-top: 1px solid #4a808c;
  border-bottom: 1px solid #4a808c;
}

.tr {
  display: flex;
}

.tr .td {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.user img {
  display: block;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 100%;
  object-fit: cover;
}

.user a {
  text-decoration: none;
  color: var(--text-color);
}

.user strong {
  display: block;
  font-weight: bold;
}

.user span {
  display: block;
  font-weight: normal;
}

.remove {
  all: unset;
  color: #f75a68;
  cursor: pointer;
  transition: color 0.2s;
}

.remove:hover {
  color: #f3838c;
}
